@model IEnumerable<MindfulEase.Models.Resource>

<div class="container my-5">
    <h2 class="text-center mb-4 text-info">RECOMMENDED RESOURCES</h2>
    <br />
    <!-- Secțiunea pentru resursele salvate -->
    <section class="mb-5">
        <h3 class="mb-3 text-info">🌟 Saved Resources</h3>
        <div class="row">
            @foreach (var resource in ((List<MindfulEase.Models.Resource>)ViewBag.SavedResourcesList).Take(4))
            {
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card shadow-sm h-100 d-flex flex-column justify-content-center" style="border:3px solid #93C572; border-radius: 30px;">
                        <!-- Butoanele Editare și Ștergere în partea de sus, stânga și dreapta -->
                        @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
                        {
                            <div class="d-flex justify-content-between" style="position: absolute; top: 10px; left: 10px; right: 10px; z-index: 10;">
                                <a href="@Url.Action("Edit", "Resources", new { id = resource.Id })" class="btn btn-outline-info btn-sm" style="border-radius: 30px;">✏️ Edit</a>
                                <form method="post" action="@Url.Action("Delete", "Resources", new { id = resource.Id })" class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger btn-sm" style="border-radius: 30px;">🗑️ Delete</button>
                                </form>
                            </div>
                        }<br />
                        <div class="card-body d-flex align-items-center justify-content-center" style="min-height: 200px; border-radius: 30px;">

                            @if (resource.ResourceType == "Image")
                            {
                                <img src="@resource.Link" class="card-img-top img-fluid" style="max-height: 200px; object-fit: contain; border-radius: 30px;" alt="@resource.Title">
                            }
                            else if (resource.ResourceType == "Video" || resource.ResourceType == "PodcastVideo" || resource.ResourceType == "Exercise")
                            {
                                <iframe class="embed-responsive-item"
                                        src="@resource.Link"
                                        allowfullscreen
                                        width="100%" style="border-radius: 30px;">
                                </iframe>
                            }
                            else if (resource.ResourceType == "PodcastAudio")
                            {
                                <iframe src="@resource.Link" width="100%" height="152" frameborder="0" style="border-radius: 30px;" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" allowfullscreen></iframe>
                            }
                        </div>
                        <h5 class="card-title mt-3 text-center">@resource.Title</h5>
                        @if (ViewBag.UserCurent != null)
                        {
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <!-- Butonul de like -->
                                    <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                        <button type="submit" name="isLiked" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                            <!-- Verificăm dacă resursa este apreciată -->
                                            @if (ViewBag.ReallyLikedResources.Contains(resource.Id))
                                            {
                                                <img src="~/img/like.png" alt="Like" style="width: 20px; height: 20px;">
                                            }
                                            else
                                            {
                                                <img src="~/img/liked.png" alt="Liked" style="width: 20px; height: 20px;">
                                            }

                                        </button>
                                    </form>

                                    <!-- Butonul de save sau unsave -->
                                    @if (ViewBag.SavedResources.Contains(resource.Id))
                                    {
                                        <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                            <button type="submit" name="isSaved" value="false" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                <img src="~/img/save.png" alt="Unsave" style="width: 20px; height: 20px;">
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                            <button type="submit" name="isSaved" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                <img src="~/img/unsave.png" alt="Save" style="width: 20px; height: 20px;">
                                            </button>
                                        </form>
                                    }
                                </div>

                                <!-- Butonul de dislike -->
                                <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                    <button type="submit" name="isLiked" value="false" class="btn btn-sm" style="border-radius: 30px; margin-right: 10px;">
                                        @if (ViewBag.DisLikedResources.Contains(resource.Id))
                                        {
                                            <img src="~/img/dislike.png" alt="Dislike" style="width: 20px; height: 20px;">
                                        }
                                        else
                                        {
                                            <img src="~/img/disliked.png" alt="Dislike" style="width: 20px; height: 20px;">
                                        }

                                    </button>
                                </form>
                            </div>


                        }

                        <br />



                    </div>
                </div>
            }
        </div>
        <a href="/Routines/SeeMore?section=saved" class="btn btn-outline-secondary" style="border-radius: 30px;">See More Saved Resources</a>
    </section>

    <!-- Secțiunea pentru resursele apreciate -->
    <section class="mb-5">
        <h3 class="mb-3 text-info">❤️ Liked Resources</h3>
        <div class="row">
            @foreach (var resource in ((List<MindfulEase.Models.Resource>)ViewBag.LikedResources).Take(4))
            {
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card shadow-sm h-100 d-flex flex-column justify-content-center" style="border:3px solid #ff8b94; border-radius: 30px;">
                        <!-- Butoanele Editare și Ștergere în partea de sus, stânga și dreapta -->
                        @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
                        {
                            <div class="d-flex justify-content-between" style="position: absolute; top: 10px; left: 10px; right: 10px; z-index: 10;">
                                <a href="@Url.Action("Edit", "Resources", new { id = resource.Id })" class="btn btn-outline-info btn-sm" style="border-radius: 30px;">✏️ Edit</a>
                                <form method="post" action="@Url.Action("Delete", "Resources", new { id = resource.Id })" class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger btn-sm" style="border-radius: 30px;">🗑️ Delete</button>
                                </form>
                            </div>
                        }<br />
                        <div class="card-body d-flex align-items-center justify-content-center" style="min-height: 200px; border-radius: 30px;">

                            @if (resource.ResourceType == "Image")
                            {
                                <img src="@resource.Link" class="card-img-top img-fluid" style="max-height: 200px; object-fit: contain; border-radius: 30px;" alt="@resource.Title">
                            }
                            else if (resource.ResourceType == "Video" || resource.ResourceType == "PodcastVideo")
                            {
                                <iframe class="embed-responsive-item"
                                        src="@resource.Link"
                                        allowfullscreen
                                        width="100%" style="border-radius: 30px;">
                                </iframe>
                            }
                            else if (resource.ResourceType == "PodcastAudio")
                            {
                                <iframe src="@resource.Link" width="100%" height="152" frameborder="0" style="border-radius: 30px;" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" allowfullscreen></iframe>
                            }
                        </div>
                        <h5 class="card-title mt-3 text-center">@resource.Title</h5>
                        @if (ViewBag.UserCurent != null)
                        {
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <!-- Butonul de like -->
                                    <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                        <button type="submit" name="isLiked" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                            <!-- Verificăm dacă resursa este apreciată -->
                                            @if (ViewBag.ReallyLikedResources.Contains(resource.Id))
                                            {
                                                <img src="~/img/like.png" alt="Like" style="width: 20px; height: 20px;"> 
                                            }
                                            else 
                                            {
                                                <img src="~/img/liked.png" alt="Liked" style="width: 20px; height: 20px;"> 
                                            }
                                            
                                        </button>
                                    </form>

                                    <!-- Butonul de save sau unsave -->
                                    @if (ViewBag.SavedResources.Contains(resource.Id))
                                    {
                                        <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                            <button type="submit" name="isSaved" value="false" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                <img src="~/img/save.png" alt="Unsave" style="width: 20px; height: 20px;">
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                            <button type="submit" name="isSaved" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                <img src="~/img/unsave.png" alt="Save" style="width: 20px; height: 20px;">
                                            </button>
                                        </form>
                                    }
                                </div>

                                <!-- Butonul de dislike -->
                                <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                    <button type="submit" name="isLiked" value="false" class="btn btn-sm" style="border-radius: 30px; margin-right: 10px;">
                                        @if (ViewBag.DisLikedResources.Contains(resource.Id))
                                        {
                                            <img src="~/img/dislike.png" alt="Dislike" style="width: 20px; height: 20px;">
                                        }
                                        else
                                        {
                                            <img src="~/img/disliked.png" alt="Dislike" style="width: 20px; height: 20px;">
                                        }

                                    </button>
                                </form>
                            </div>


                        }
                        
                        <br />

                        
                        
                    </div>
                </div>
            }
        </div>
        <a href="/Routines/SeeMore?section=liked" class="btn btn-outline-secondary" style="border-radius: 30px;">See More Liked Resources</a>
    </section>

    <!-- Secțiunea pentru Podcasturi Audio -->
    <section class="mb-5">
        <h3 class="mb-3 text-info">🎙️ Audio Podcasts</h3>
        <div class="row">
            @foreach (var resource in Model.Where(r => r.ResourceType == "PodcastAudio").Take(4))
            {
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card shadow-sm h-100" style="border:3px solid #D7A7D9; border-radius: 30px;">
                        <!-- Butoanele Editare și Ștergere în partea de sus, stânga și dreapta -->
                        @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
                        {
                            <div class="d-flex justify-content-between" style="position: absolute; top: 10px; left: 10px; right: 10px; z-index: 10;">
                                <a href="@Url.Action("Edit", "Resources", new { id = resource.Id })" class="btn btn-outline-info btn-sm" style="border-radius: 30px;">✏️ Edit</a>
                                <form method="post" action="@Url.Action("Delete", "Resources", new { id = resource.Id })" class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger btn-sm" style="border-radius: 30px;">🗑️ Delete</button>
                                </form>
                            </div>
                        }<br /> <br />
                        <div class="card-body" style="border-radius: 30px;">
                            <iframe src="@resource.Link" width="100%" style="border-radius: 30px;" height="152" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" allowfullscreen></iframe>

                            <h5 class="card-title mt-3">@resource.Title</h5>
                            @if (ViewBag.UserCurent != null)
                            {
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <!-- Butonul de like -->
                                        <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                            <button type="submit" name="isLiked" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                <!-- Verificăm dacă resursa este apreciată -->
                                                @if (ViewBag.ReallyLikedResources.Contains(resource.Id))
                                                {
                                                    <img src="~/img/like.png" alt="Like" style="width: 20px; height: 20px;">
                                                }
                                                else
                                                {
                                                    <img src="~/img/liked.png" alt="Liked" style="width: 20px; height: 20px;">
                                                }

                                            </button>
                                        </form>

                                        <!-- Butonul de save sau unsave -->
                                        @if (ViewBag.SavedResources.Contains(resource.Id))
                                        {
                                            <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                                <button type="submit" name="isSaved" value="false" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                    <img src="~/img/save.png" alt="Unsave" style="width: 20px; height: 20px;">
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                                <button type="submit" name="isSaved" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                    <img src="~/img/unsave.png" alt="Save" style="width: 20px; height: 20px;">
                                                </button>
                                            </form>
                                        }
                                    </div>

                                    <!-- Butonul de dislike -->
                                    <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                        <button type="submit" name="isLiked" value="false" class="btn btn-sm" style="border-radius: 30px; margin-right: 10px;">
                                            @if (ViewBag.DisLikedResources.Contains(resource.Id))
                                            {
                                                <img src="~/img/dislike.png" alt="Dislike" style="width: 20px; height: 20px;">
                                            }
                                            else
                                            {
                                                <img src="~/img/disliked.png" alt="Dislike" style="width: 20px; height: 20px;">
                                            }

                                        </button>
                                    </form>
                                </div>

                            }
                            
                        </div>
                    </div>
                </div>
            }
        </div>
        <a href="/Routines/SeeMore?section=PodcastAudio" class="btn btn-outline-secondary" style="border-radius: 30px;">See More Audio Podcasts</a>
    </section>

    <!-- Secțiunea pentru Podcasturi Video -->
    <section class="mb-5">
        <h3 class="mb-3 text-info">📹 Video Podcasts</h3>
        <div class="row">
            @foreach (var resource in Model.Where(r => r.ResourceType == "PodcastVideo").Take(4))
            {
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card shadow-sm h-100" style="border:3px solid #F9E6A0; border-radius: 30px;">
                        <!-- Butoanele Editare și Ștergere în partea de sus, stânga și dreapta -->
                        @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
                        {
                            <div class="d-flex justify-content-between" style="position: absolute; top: 10px; left: 10px; right: 10px; z-index: 10;">
                                <a href="@Url.Action("Edit", "Resources", new { id = resource.Id })" class="btn btn-outline-info btn-sm" style="border-radius: 30px;">✏️ Edit</a>
                                <form method="post" action="@Url.Action("Delete", "Resources", new { id = resource.Id })" class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger btn-sm" style="border-radius: 30px;">🗑️ Delete</button>
                                </form>
                            </div>
                        }<br /><br />
                        <div class="card-body">
                            <iframe class="embed-responsive-item"
                                    src="@resource.Link"
                                    allowfullscreen
                                    width="100%" style="border-radius: 30px;">
                            </iframe>
                            <h5 class="card-title mt-3">@resource.Title</h5>
                            @if (ViewBag.UserCurent != null)
                            {
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <!-- Butonul de like -->
                                        <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                            <button type="submit" name="isLiked" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                <!-- Verificăm dacă resursa este apreciată -->
                                                @if (ViewBag.ReallyLikedResources.Contains(resource.Id))
                                                {
                                                    <img src="~/img/like.png" alt="Like" style="width: 20px; height: 20px;">
                                                }
                                                else
                                                {
                                                    <img src="~/img/liked.png" alt="Liked" style="width: 20px; height: 20px;">
                                                }

                                            </button>
                                        </form>

                                        <!-- Butonul de save sau unsave -->
                                        @if (ViewBag.SavedResources.Contains(resource.Id))
                                        {
                                            <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                                <button type="submit" name="isSaved" value="false" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                    <img src="~/img/save.png" alt="Unsave" style="width: 20px; height: 20px;">
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                                <button type="submit" name="isSaved" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                    <img src="~/img/unsave.png" alt="Save" style="width: 20px; height: 20px;">
                                                </button>
                                            </form>
                                        }
                                    </div>

                                    <!-- Butonul de dislike -->
                                    <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                        <button type="submit" name="isLiked" value="false" class="btn btn-sm" style="border-radius: 30px; margin-right: 10px;">
                                            @if (ViewBag.DisLikedResources.Contains(resource.Id))
                                            {
                                                <img src="~/img/dislike.png" alt="Dislike" style="width: 20px; height: 20px;">
                                            }
                                            else
                                            {
                                                <img src="~/img/disliked.png" alt="Dislike" style="width: 20px; height: 20px;">
                                            }

                                        </button>
                                    </form>
                                </div>

                            }
                            
                        </div>
                    </div>
                </div>
            }
        </div>
        <a href="/Routines/SeeMore?section=PodcastVideo" class="btn btn-outline-secondary" style="border-radius: 30px;">See More Video Podcasts</a>
    </section>

    <!-- Secțiunea pentru Videoclipuri -->
    <section class="mb-5">
        <h3 class="mb-3 text-info">📹 Educational Videos</h3>
        <div class="row">
            @foreach (var resource in Model.Where(r => r.ResourceType == "Video").Take(4))
            {
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card shadow-sm h-100" style="border:3px solid #A8D7E8; border-radius: 30px;">
                        <!-- Butoanele Editare și Ștergere în partea de sus, stânga și dreapta -->
                        @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
                        {
                            <div class="d-flex justify-content-between" style="position: absolute; top: 10px; left: 10px; right: 10px; z-index: 10;">
                                <a href="@Url.Action("Edit", "Resources", new { id = resource.Id })" class="btn btn-outline-info btn-sm" style="border-radius: 30px;">✏️ Edit</a>
                                <form method="post" action="@Url.Action("Delete", "Resources", new { id = resource.Id })" class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger btn-sm" style="border-radius: 30px;">🗑️ Delete</button>
                                </form>
                            </div>
                        }<br /><br />
                        <div class="card-body">
                            <iframe class="embed-responsive-item"
                                    src="@resource.Link"
                                    allowfullscreen
                                    width="100%" style="border-radius: 30px;">
                            </iframe>
                            <h5 class="card-title mt-3">@resource.Title</h5>
                            @if (ViewBag.UserCurent != null)
                            {
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <!-- Butonul de like -->
                                        <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                            <button type="submit" name="isLiked" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                <!-- Verificăm dacă resursa este apreciată -->
                                                @if (ViewBag.ReallyLikedResources.Contains(resource.Id))
                                                {
                                                    <img src="~/img/like.png" alt="Like" style="width: 20px; height: 20px;">
                                                }
                                                else
                                                {
                                                    <img src="~/img/liked.png" alt="Liked" style="width: 20px; height: 20px;">
                                                }

                                            </button>
                                        </form>

                                        <!-- Butonul de save sau unsave -->
                                        @if (ViewBag.SavedResources.Contains(resource.Id))
                                        {
                                            <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                                <button type="submit" name="isSaved" value="false" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                    <img src="~/img/save.png" alt="Unsave" style="width: 20px; height: 20px;">
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                                <button type="submit" name="isSaved" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                    <img src="~/img/unsave.png" alt="Save" style="width: 20px; height: 20px;">
                                                </button>
                                            </form>
                                        }
                                    </div>

                                    <!-- Butonul de dislike -->
                                    <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                        <button type="submit" name="isLiked" value="false" class="btn btn-sm" style="border-radius: 30px; margin-right: 10px;">
                                            @if (ViewBag.DisLikedResources.Contains(resource.Id))
                                            {
                                                <img src="~/img/dislike.png" alt="Dislike" style="width: 20px; height: 20px;">
                                            }
                                            else
                                            {
                                                <img src="~/img/disliked.png" alt="Dislike" style="width: 20px; height: 20px;">
                                            }

                                        </button>
                                    </form>
                                </div>

                            }
                            
                        </div>
                    </div>
                </div>
            }
        </div>
        <a href="/Routines/SeeMore?section=Video" class="btn btn-outline-secondary" style="border-radius: 30px;">See More Educational Videos</a>
    </section>

    <!-- Secțiunea pentru Imagini -->
    <section class="mb-5">
        <h3 class="mb-3 text-info">🖼️ Educational Images</h3>
        <div class="row">
            @foreach (var resource in Model.Where(r => r.ResourceType == "Image").Take(4))
            {
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card shadow-sm h-100 d-flex align-items-center justify-content-center border-radius: 30px;" style="border:3px solid #F9C7D1; border-radius: 30px;">
                        <!-- Butoanele Editare și Ștergere în partea de sus, stânga și dreapta -->
                        @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
                        {
                            <div class="d-flex justify-content-between" style="position: absolute; top: 10px; left: 10px; right: 10px; z-index: 10;">
                                <a href="@Url.Action("Edit", "Resources", new { id = resource.Id })" class="btn btn-outline-info btn-sm" style="border-radius: 30px;">✏️ Edit</a>
                                <form method="post" action="@Url.Action("Delete", "Resources", new { id = resource.Id })" class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger btn-sm" style="border-radius: 30px;">🗑️ Delete</button>
                                </form>
                            </div>
                        }<br /><br />
                        <img src="@resource.Link" class="card-img-top img-fluid" style="max-height: 200px; object-fit: contain; border-radius: 30px;" alt="@resource.Title">
                        <div class="card-body text-center">
                            <h5 class="card-title">@resource.Title</h5>
                            @if (ViewBag.UserCurent != null)
                            {
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <!-- Butonul de like -->
                                        <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                            <button type="submit" name="isLiked" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                <!-- Verificăm dacă resursa este apreciată -->
                                                @if (ViewBag.ReallyLikedResources.Contains(resource.Id))
                                                {
                                                    <img src="~/img/like.png" alt="Like" style="width: 20px; height: 20px;">
                                                }
                                                else
                                                {
                                                    <img src="~/img/liked.png" alt="Liked" style="width: 20px; height: 20px;">
                                                }

                                            </button>
                                        </form>

                                        <!-- Butonul de save sau unsave -->
                                        @if (ViewBag.SavedResources.Contains(resource.Id))
                                        {
                                            <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                                <button type="submit" name="isSaved" value="false" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                    <img src="~/img/save.png" alt="Unsave" style="width: 20px; height: 20px;">
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                                <button type="submit" name="isSaved" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                    <img src="~/img/unsave.png" alt="Save" style="width: 20px; height: 20px;">
                                                </button>
                                            </form>
                                        }
                                    </div>

                                    <!-- Butonul de dislike -->
                                    <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                        <button type="submit" name="isLiked" value="false" class="btn btn-sm" style="border-radius: 30px; margin-right: 10px;">
                                            @if (ViewBag.DisLikedResources.Contains(resource.Id))
                                            {
                                                <img src="~/img/dislike.png" alt="Dislike" style="width: 20px; height: 20px;">
                                            }
                                            else
                                            {
                                                <img src="~/img/disliked.png" alt="Dislike" style="width: 20px; height: 20px;">
                                            }

                                        </button>
                                    </form>
                                </div>

                            }
                            
                        </div>
                    </div>
                </div>
            }
        </div>
        <a href="/Routines/SeeMore?section=Image" class="btn btn-outline-secondary" style="border-radius: 30px;">See More Educational Images</a>
    </section>

    <br />
    @if (Model.Where(r => r.ResourceType == "Exercise").Count() > 0)
    {
        <!-- Secțiunea pentru Exercitii -->
        <section class="mb-5">
            <h3 class="mb-3 text-info">Exercises</h3>
            <div class="row">
                @foreach (var resource in Model.Where(r => r.ResourceType == "Exercise").Take(4))
                {
                    <div class="col-6 col-md-4 col-lg-3 mb-4">
                        <div class="card shadow-sm h-100" style="border:3px solid #F9E6A0; border-radius: 30px;">
                            <!-- Butoanele Editare și Ștergere în partea de sus, stânga și dreapta -->
                            @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
                            {
                                <div class="d-flex justify-content-between" style="position: absolute; top: 10px; left: 10px; right: 10px; z-index: 10;">
                                    <a href="@Url.Action("Edit", "Resources", new { id = resource.Id })" class="btn btn-outline-info btn-sm" style="border-radius: 30px;">✏️ Edit</a>
                                    <form method="post" action="@Url.Action("Delete", "Resources", new { id = resource.Id })" class="d-inline">
                                        <button type="submit" class="btn btn-outline-danger btn-sm" style="border-radius: 30px;">🗑️ Delete</button>
                                    </form>
                                </div>
                            }<br /><br />
                            <div class="card-body">
                                <iframe class="embed-responsive-item"
                                        src="@resource.Link"
                                        allowfullscreen
                                        width="100%" style="border-radius: 30px;">
                                </iframe>
                                <h5 class="card-title mt-3">@resource.Title</h5>
                                @if (ViewBag.UserCurent != null)
                                {
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <!-- Butonul de like -->
                                            <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                                <button type="submit" name="isLiked" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                    <!-- Verificăm dacă resursa este apreciată -->
                                                    @if (ViewBag.ReallyLikedResources.Contains(resource.Id))
                                                    {
                                                        <img src="~/img/like.png" alt="Like" style="width: 20px; height: 20px;">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/img/liked.png" alt="Liked" style="width: 20px; height: 20px;">
                                                    }

                                                </button>
                                            </form>

                                            <!-- Butonul de save sau unsave -->
                                            @if (ViewBag.SavedResources.Contains(resource.Id))
                                            {
                                                <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                                    <button type="submit" name="isSaved" value="false" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                        <img src="~/img/save.png" alt="Unsave" style="width: 20px; height: 20px;">
                                                    </button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                                    <button type="submit" name="isSaved" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                                        <img src="~/img/unsave.png" alt="Save" style="width: 20px; height: 20px;">
                                                    </button>
                                                </form>
                                            }
                                        </div>

                                        <!-- Butonul de dislike -->
                                        <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                            <button type="submit" name="isLiked" value="false" class="btn btn-sm" style="border-radius: 30px; margin-right: 10px;">
                                                @if (ViewBag.DisLikedResources.Contains(resource.Id))
                                                {
                                                    <img src="~/img/dislike.png" alt="Dislike" style="width: 20px; height: 20px;">
                                                }
                                                else
                                                {
                                                    <img src="~/img/disliked.png" alt="Dislike" style="width: 20px; height: 20px;">
                                                }

                                            </button>
                                        </form>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
            <a href="/Routines/SeeMore?section=Exercise" class="btn btn-outline-secondary" style="border-radius: 30px;">See More Exercises</a>
        </section>
        
    }
    
</div>
<br />
<br />
<br />
<style>
    body {
        background: linear-gradient(to bottom, rgba(168, 237, 234, 0.3), rgba(254, 214, 227, 0.3));
        background-attachment: fixed;
        min-height: 100vh;
        margin: 0;
    }

</style>