@model IEnumerable<MindfulEase.Models.Resource>

<div class="container my-5">
    <h2 class="text-center mb-4 text-info">RESOURCES</h2>
    @if (ViewBag.EsteAdmin == true)
    {
        <div class="container">
            <div class="row align-items-center">
                <!-- Butonul Back (stânga) -->
                <div class="col text-start">
                    <a href="@Url.Action("Index", "Routines")" class="btn btn-outline-secondary" style="border-radius: 30px;">👈 Back</a>
                </div>

                <!-- Butonul New Quiz (dreapta) -->
                <div class="col text-end">
                    <a class="btn btn-info" href="/Resources/New" style="color: white; border-radius: 30px;">New Resource</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <a href="@Url.Action("Index", "Routines")" class="btn btn-outline-secondary mb-3" style="border-radius: 30px;">👈 Back</a>
    }
    <br />
    <!-- Search Bar -->
    <section class="p-3" style="padding-top: 100px;">
        <div class="d-flex justify-content-center mb-4">
            <form method="GET" style=" width: 100%; background-color: #f8f9fa; padding: 10px; border-radius: 25px; border: 1px solid #ced4da;">
                <div class="input-group mb-3">
                    <input type="text" class="form-control"
                           placeholder="Search topics or keywords" name="search"
                           value="@ViewBag.SearchString" style="border-radius: 20px;">
                    <button class="btn btn-outline-info" type="submit" style="border-radius: 20px;">Search</button>
                </div>
            </form>
        </div>
    </section>
    <br />
    <br /> <br />
    <div class="row">
        @foreach (var resource in Model)
        {
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card shadow-sm h-100 d-flex flex-column justify-content-center " style="border-radius: 30px; border:3px solid #F9C7D1;">
                    @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
                    {
                        <div class="d-flex justify-content-between" style="position: absolute; top: 10px; left: 10px; right: 10px; z-index: 10;">
                            <a href="@Url.Action("Edit", "Resources", new { id = resource.Id })" class="btn btn-outline-info btn-sm" style="border-radius: 30px;">✏️ Edit</a>
                            <form method="post" action="@Url.Action("Delete", "Resources", new { id = resource.Id })" class="d-inline">
                                <button type="submit" class="btn btn-outline-danger btn-sm" style="border-radius: 30px;">🗑️ Delete</button>
                            </form>
                        </div>
                    }<br /> <br /><br />
                    <div class="card-body d-flex align-items-center justify-content-center" style="min-height: 200px; border-radius: 30px;">
                        @if (resource.ResourceType == "PodcastAudio")
                        {
                            <iframe src="@resource.Link" width="100%" style="border-radius: 30px;" height="152" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" allowfullscreen></iframe>

                        }
                        else if (resource.ResourceType == "PodcastVideo" || resource.ResourceType == "Video")
                        {
                            <iframe class="embed-responsive-item"
                                    src="@resource.Link"
                                    allowfullscreen
                                    width="100%" style="border-radius: 30px;">
                            </iframe>
                        }
                        else if (resource.ResourceType == "Image")
                        {
                            <img src="@resource.Link" class="card-img-top img-fluid"
                                 style="max-height: 200px; object-fit: contain; border-radius: 30px;"
                                 alt="@resource.Title" >
                        }
                    </div>

                    <h5 class="card-title mt-3 text-center">@resource.Title</h5>
                    @if (ViewBag.UserCurent != null )
                    {
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <!-- Butonul de like -->
                                <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                    <button type="submit" name="isLiked" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                        <!-- Verificăm dacă resursa este apreciată -->
                                        @if (ViewBag.ReallyLikedResources.Contains(resource.Id))
                                        {
                                            <img src="~/img/like.png" alt="Like" style="width: 20px; height: 20px;">
                                        }
                                        else
                                        {
                                            <img src="~/img/liked.png" alt="Liked" style="width: 20px; height: 20px;">
                                        }

                                    </button>
                                </form>

                                <!-- Butonul de save sau unsave -->
                                @if (ViewBag.SavedResources.Contains(resource.Id))
                                {
                                    <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                        <button type="submit" name="isSaved" value="false" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                            <img src="~/img/save.png" alt="Unsave" style="width: 20px; height: 20px;">
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-action="SaveResource" asp-route-resourceId="@resource.Id" class="mt-3">
                                        <button type="submit" name="isSaved" value="true" class="btn btn-sm" style="border-radius: 30px; margin-left: 10px;">
                                            <img src="~/img/unsave.png" alt="Save" style="width: 20px; height: 20px;">
                                        </button>
                                    </form>
                                }
                            </div>

                            <!-- Butonul de dislike -->
                            <form method="post" asp-action="ProvideFeedback" asp-route-resourceId="@resource.Id" class="mt-3">
                                <button type="submit" name="isLiked" value="false" class="btn btn-sm" style="border-radius: 30px; margin-right: 10px;">
                                    @if (ViewBag.DisLikedResources.Contains(resource.Id))
                                    {
                                        <img src="~/img/dislike.png" alt="Dislike" style="width: 20px; height: 20px;">
                                    }
                                    else
                                    {
                                        <img src="~/img/disliked.png" alt="Dislike" style="width: 20px; height: 20px;">
                                    }

                                </button>
                            </form>
                        </div>

                    }
                    <br />
                </div>
            </div>
        }
    </div>
</div>
<br /> <br />
<style>
    body {
        background: linear-gradient(to bottom, rgba(168, 237, 234, 0.3), rgba(254, 214, 227, 0.3));
        background-attachment: fixed;
        min-height: 100vh;
        margin: 0;
    }

</style>
