@model MindfulEase.Models.ApplicationUser
@{
    ViewBag.Title = "Show Profile";
}

<section class="container p-3" style="background-color: @ViewBag.User.BackgroundColor; padding: 30px; border-radius: 15px;">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-primary p-3 rounded-3 text-center mb-5" role="alert">
            @ViewBag.Message
        </div>
    }

    <div class="d-flex justify-content-between m-2">
        @if (ViewBag.User.Id == ViewBag.UserCurent || ViewBag.EsteAdmin || ViewBag.EsteModerator)
        {
            @if (ViewBag.User.IsTherapist != null)
            {
                <a class="btn btn-info" href="/ApplicationUsers/EditTherapist/@ViewBag.User.Id" style="color: white; border-radius: 30px;">Edit Profile</a>
            }
            else
            {
                <a class="btn btn-info" href="/ApplicationUsers/Edit/@ViewBag.User.Id" style="color: white; border-radius: 30px;">Edit Profile</a>
            }
            <a class="btn btn-danger" href="/ApplicationUsers/Delete/@ViewBag.User.Id" style="color: white; border-radius: 30px;">Delete Profile</a>
        }
    </div>

    <hr />

    <div class="text-center">
        <h2><i class="bi bi-person-fill"></i> @ViewBag.User.FirstName @ViewBag.User.LastName</h2>
        @if (!string.IsNullOrEmpty(ViewBag.User.ProfilePicture))
        {
            <img src="@ViewBag.User.ProfilePicture" alt="Profile Picture" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover; margin-bottom: 20px;" />
        }
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center px-3">
        <div class="card mb-3 bg-white bg-opacity-25" style="max-width: 600px; width: 100%; margin: 10px auto;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-info-circle"></i> Description 𓂃🖊</h5>
                <p class="card-text">@ViewBag.User.Description</p>
            </div>
        </div>

        <div class="card mb-3 bg-white bg-opacity-25" style="max-width: 600px; width: 100%; margin: 10px auto;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-calendar-check"></i> Birthday 🎉</h5>
                <p class="card-text">@ViewBag.User.Birthday</p>
            </div>
        </div>

        @if (ViewBag.User.IsTherapist != null)
        {
            <div class="card mb-3 bg-white bg-opacity-25" style="max-width: 600px; width: 100%; margin: 10px auto;">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-phone"></i> Phone Number 📞</h5>
                    <p class="card-text">@ViewBag.User.PhoneNumber</p>
                </div>
            </div>
            <div class="card mb-3 bg-white bg-opacity-25" style="max-width: 600px; width: 100%; margin: 10px auto;">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-bookmark-check"></i> Studies 📚</h5>
                    <p class="card-text">@ViewBag.User.Studies</p>
                </div>
            </div>
        }

        <br />
    </div>

    <div class="card mb-3 bg-white bg-opacity-25" style="max-width: 600px; width: 100%; margin: 10px auto;">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-flag"></i> Goals 📌</h5>

            @if (ViewBag.UserObjectives.Count > 0)
            {
                <ul class="list-group">
                    @foreach (var userObjective in ViewBag.UserObjectives)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between w-100">
                                <strong>@userObjective.Objective.Title</strong>

                                <!-- Verifică dacă TargetValue este valid (nu null) -->
                                @if (userObjective.TargetValue != null )
                                {
                                    <span class="badge bg-primary">@userObjective.TargetValue @(userObjective.Objective.ValueType == "minute" ? "min" : "")</span>
                                }

                                <!-- Verifică dacă TargetTime este valid (nu null) -->
                                @if (userObjective.TargetTime != null )
                                {
                                    <span class="badge bg-info">@userObjective.TargetTime</span>
                                }
                            </div>
                        </li>
                    }

                </ul>
            }
            else
            {
                <p class="text-muted">Nu ai setat niciun obiectiv. Adaugă obiective pentru a-ți urmări progresul!</p>
            }
            @if(ViewBag.UserCurent == ViewBag.User.Id)
            {
                <div class="text-center mt-3">
                    <a class="btn btn-outline-info" href="/Objectives/Index" style="border-radius: 30px;">Update Goals</a>
                </div>
            }
            
        </div>
    </div>

</section>

<br />
<br />
