@model MindfulEase.Models.ApplicationUser
@{
    ViewBag.Title = "Show Profile";
}
@if (TempData.ContainsKey("message"))
{
    <h4 class="@ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </h4>
}

<section class="container p-3" style="background-color: @ViewBag.User.BackgroundColor; padding: 30px; border-radius: 15px;">

    <div class="d-flex justify-content-between m-2">
        @if (ViewBag.User.Id == ViewBag.UserCurent || ViewBag.EsteAdmin || ViewBag.EsteModerator)
        {
            @if (ViewBag.User.IsTherapist != null)
            {
                <a class="btn btn-info" href="/ApplicationUsers/EditTherapist/@ViewBag.User.Id" style="color: white; border-radius: 30px;">Edit Profile</a>
            }
            else
            {
                <a class="btn btn-info" href="/ApplicationUsers/Edit/@ViewBag.User.Id" style="color: white; border-radius: 30px;">Edit Profile</a>
            }
            <a class="btn btn-danger" href="/ApplicationUsers/Delete/@ViewBag.User.Id" style="color: white; border-radius: 30px;">Delete Profile</a>
        }
    </div>

    <hr />

    <div class="text-center">
        <h2><i class="bi bi-person-fill"></i> @ViewBag.User.FirstName @ViewBag.User.LastName</h2>
        @if (ViewBag.User.Sex == "F")
        {
            <div><small style="color: #888;">(Female)</small></div>
        }
        else if (ViewBag.User.Sex == "M")
        {
            <div><small style="color: #888;">(Male)</small></div>
        }
        @if (!string.IsNullOrEmpty(ViewBag.User.ProfilePicture))
        {
            <img src="@ViewBag.User.ProfilePicture" alt="Profile Picture" class="rounded-circle" style="border:3px solid #A7C7E7; width: 150px; height: 150px; object-fit: cover; margin-bottom: 20px;" />
        }
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center px-3">
        <div class="card mb-3 bg-white bg-opacity-25" style="border:3px solid #A7C7E7; max-width: 600px; width: 100%; margin: 10px auto; border-radius: 30px;">
            <div class="card-body" >
                <h5 class="card-title"><i class="bi bi-info-circle"></i> Description 𓂃🖊</h5>
                <p class="card-text">@ViewBag.User.Description</p>
            </div>
        </div>

        <div class="card mb-3 bg-white bg-opacity-25" style="border:3px solid #A7C7E7; max-width: 600px; width: 100%; margin: 10px auto; border-radius: 30px;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-calendar-check"></i> Birthday 🎉</h5>
                <p class="card-text">@ViewBag.User.Birthday</p>
            </div>
        </div>
        @if (ViewBag.User.IsTherapist != null)
        {
            <div class="card mb-3 bg-white bg-opacity-25" style="border:3px solid #A7C7E7; max-width: 600px; width: 100%; margin: 10px auto; border-radius: 30px;">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-phone"></i> Phone Number 📞</h5>
                    <p class="card-text">@ViewBag.User.PhoneNumber</p>
                </div>
            </div>
            <div class="card mb-3 bg-white bg-opacity-25" style="border:3px solid #A7C7E7; max-width: 600px; width: 100%; margin: 10px auto; border-radius: 30px;">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-bookmark-check"></i> Studies 📚</h5>
                    <p class="card-text">@ViewBag.User.Studies</p>
                </div>
            </div>
        }

    </div>
    <!-- Secțiunea de Day Streak și Total Points într-un card -->
    <div class="card mb-3 bg-white bg-opacity-25" style="border:3px solid #ffac4d; max-width: 600px; width: 100%; margin: 10px auto; border-radius: 30px;">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
                <span><i class="bi bi-calendar-day"></i> Streak & Points</span>
            </h5>
            <div class="d-flex justify-content-around mb-3 w-100" style="flex-wrap: wrap;">
                <!-- Day Streak -->
                <div class="card text-center" style="max-width: 230px; width: 48%; background-color: #f8f9fa; margin-right: 10px; border-radius: 30px;">
                    <div class="card-body">
                        <h5 class="card-title"><span class="bi bi-calendar-day"></span>🔥 @ViewBag.DaysStreak</h5>
                        <small class="text-muted">Days Streak</small>
                    </div>
                </div>
                <!-- Total Points -->
                <div class="card text-center" style="max-width: 230px; width: 48%; background-color: #f8f9fa; border-radius: 30px;">
                    <div class="card-body">
                        <h5 class="card-title"><span class="bi bi-star"></span> 🌟 @ViewBag.Points</h5>
                        <small class="text-muted">Total Stars</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 bg-white bg-opacity-25" style="border:3px solid #93C572; max-width: 600px; width: 100%; margin: 10px auto; border-radius: 30px;">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-flag"></i> Goals 📌</h5>

            @if (ViewBag.UserObjectives.Count > 0)
            {
                <ul class="list-group">
                    @foreach (var userObjective in ViewBag.UserObjectives)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="border-radius: 30px;">
                            <div class="d-flex justify-content-between w-100" style="border-radius: 30px;">
                                <strong>@userObjective.Objective.Title</strong>

                                <!-- Verifică dacă TargetValue este valid (nu null) -->
                                @if (userObjective.TargetValue != null )
                                {
                                    <span class="badge bg-info" >@userObjective.TargetValue @(userObjective.Objective.ValueType == "minute" ? "min" : "")</span>
                                }

                                <!-- Verifică dacă TargetTime este valid (nu null) -->
                                @if (userObjective.TargetTime != null )
                                {
                                    <span class="badge bg-info">@userObjective.TargetTime</span>
                                }
                            </div>
                        </li>
                    }

                </ul>
            }
            else
            {
                <p class="text-muted">Nu ai setat niciun obiectiv. Adaugă obiective pentru a-ți urmări progresul!</p>
            }
            @if(ViewBag.UserCurent == ViewBag.User.Id)
            {
                <div class="text-center mt-3">
                    <a class="btn btn-outline-info" href="/Objectives/Index" style="border-radius: 30px;">Update Goals</a>
                </div>
            }
            
        </div>
    </div>



    <!-- Secțiunea de Badge-uri -->
    <div class="card mb-3 bg-white bg-opacity-25" style="border:3px solid #ff8b94; max-width: 600px; width: 100%; margin: 10px auto; border-radius: 30px;">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
                <span><i class="bi bi-award"></i> Badges 🏅</span>
                <div>
                    <a href="/Badges/IndexUserBadges/@ViewBag.User.Id" class="btn btn-link text-info p-0 text-uppercase" style="text-decoration: none;">View All</a>

                    @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
                    {
                        <a href="/Badges/Index" class="btn btn-link text-info p-0 text-uppercase" style="text-decoration: none;">Manage Badges</a>
                    }
                </div>
            </h5>
            <div class="d-flex">
                @foreach (var badge in ViewBag.UserBadges)
                {
                    <div class="badge" style="margin-right: 10px;">
                        <img src="@badge.ImageUrl" alt="@badge.Title" style="width: 50px; height: 50px; object-fit: cover;" />
                        <p class="text-center" style="color:darkturquoise">@badge.Title</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Secțiunea "See Your Weekly Reports" doar pentru utilizatorul curent -->
    @if (ViewBag.UserCurent == ViewBag.User.Id && ViewBag.LastWeeklyReport != null)
    {
        <div class="card mb-3 bg-white bg-opacity-25" style="border:3px solid #A7C7E7; max-width: 600px; width: 100%; margin: 10px auto; border-radius: 30px;">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <i class="bi bi-calendar-week"></i> See Your Weekly Report
                </h5>
                <p class="text-center">
                    <a href="@Url.Action("Show", "WeeklyReports", new { id = ViewBag.LastWeeklyReport })" class="btn btn-link text-info" style="border-radius: 30px; text-decoration: none;">
                        View your most recent weekly report
                    </a>
                </p>
            </div>
        </div>
    }

</section>

<br />
<br />
<br />
<br />
<style>
    body {
        background: linear-gradient(to bottom, rgba(168, 237, 234, 0.3), rgba(254, 214, 227, 0.3));
        background-attachment: fixed;
        min-height: 100vh;
        margin: 0;
    }
</style>